<div>

<h1>Welcome in First Page of Ruby</h1>
<form accept-charset="UTF-8" action="/hello/addition" method="post">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="user[txtnum1]" placeholder="Enter First Number" />
    <br>
    <br>
      <input type="text" name="user[txtnum2]" placeholder="Enter Second Number" />
      <br>
      <br>
      <input type="submit" name="btnsubmit" value="Addition" />
</form>

</div>
